<configuration>
    <appender name="STDOUT-test" class="ch.qos.logback.core.ConsoleAppender">
        <encoder immediateFlush="true">
            <pattern>%date %thread TraceId=%X{traceId} [%level] %logger{0} : %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="co.ledger.wallet.daemon" level="debug" />
    <logger name="slick" level="error" />
    <logger name="io.netty" level="error" />
    <logger name="com.twitter" level="error" />
    <logger name="djinni" level="error" />
    <root level="debug">
        <appender-ref ref="STDOUT-test" />
    </root>
</configuration>
